body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.other-bettings-icon {
    cursor: pointer;
    font-size: 18px;
}

.betting-flag {
    vertical-align: middle;
}

.betting-input {
    width: 150px;
}

.bettings-tabs {
    position: fixed;
    display:block;
    clear:both;
    top: 40px;
    padding-top: 20px;
    width: 100%; 
    max-width: 1170px;
    background-color: #fff;
    z-index: 1020;
}

.bettings-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.save-container {
    text-align: center;
    position: fixed;
    width: 100%;
    max-width: 1170px;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1010;
}

.side-panel-details {
    overflow-y: auto;
    height: 100%;
}

.loading-panel {
    text-align: center;
    height: 200px;
    background-image: url('/Content/images/loading.gif');
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
}

.two-points {
    background-color: #4dbf2c !important;
}

.one-point {
    background-color: #fc7318 !important;
}

.example-points {
    padding: 8px;
}

.overview-betting {
    text-align: center;
}

.tournaments_logo {
    margin: 10px;
}