<section id="dashboard-view" class="mainbar">

    <h2>{{vm.title}}</h2>

    <loading-panel show="vm.isLoading"></loading-panel>

    <div ng-hide="vm.isLoading">
        Meeste keren een exact juiste pronostiek ({{vm.mostExactResults}} keer):
        <span ng-repeat="username in vm.mostExactResultsUsers">{{username}}{{$last === false ? ',' : ''}}</span>
    </div>

    <div ng-hide="vm.isLoading">
        Minste keren een exact juiste pronostiek ({{vm.leastExactResults}} keer):
        <span ng-repeat="username in vm.leastExactResultsUsers">{{username}}{{$last === false ? ',' : ''}}</span>
    </div>

    <canvas id="chart"></canvas>

</section>