@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div ng-controller="main as vm">
        {{vm.something}}
        <div ng-view class="shuffle-animation"></div>
    </div> 
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
}
