@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a ui-sref="account" class="nav-link">@User.Identity.GetUserName()</a>
        </li>
        <li class="nav-item">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Uitloggen</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            @*<a ui-sref="login" class="nav-link">Inloggen</a>*@
            <a href="/#/login" class="nav-link">Inloggen</a>
        </li>
    </ul>
}
