<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryInitializers>
    <Add Type="Microsoft.ApplicationInsights.Web.AzureAppServiceRoleNameFromHostNameHeaderInitializer, Microsoft.AI.Web"/>
  </TelemetryInitializers>
  
  <ConnectionString>InstrumentationKey=96cc656f-03b9-4353-b731-718dda81b006;IngestionEndpoint=https://westeurope-1.in.applicationinsights.azure.com/</ConnectionString>
</ApplicationInsights>