<section id="dashboard-view" class="mainbar">

    <div class="modal" id="detailsModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" ng-hide="vm.matchDetails == null">{{vm.matchDetails.HomeTeamName}} vs {{vm.matchDetails.AwayTeamName}} - {{vm.matchDetails.DateTime | date}}</h4>
                        <h4 class="modal-title" ng-hide="vm.allTopscorers == null">Alle topscorer-pronostieken</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-hide="vm.allTopscorers == null">
                            <table class="table table-striped">
                                <tr>
                                    <th>Gebruiker</th>
                                    <th>Topscorer</th>
                                </tr>
                                <tr ng-repeat="topscorer in vm.allTopscorers">
                                    <td>{{topscorer.UserName}}</td>
                                    <td>{{topscorer.TopScorerName}}</td>
                                </tr>
                            </table>
                        </div>

                        <div ng-hide="vm.matchDetails == null">
                            <table class="table table-striped">
                                <tr>
                                    <th>Gebruiker</th>
                                    <th>{{vm.matchDetails.HomeTeamName}}</th>
                                    <th>{{vm.matchDetails.AwayTeamName}}</th>
                                </tr>
                                <tr ng-repeat="betting in vm.matchDetails.Bettings">
                                    <td>{{betting.UserName}}</td>
                                    <td>{{betting.HomeScore}}</td>
                                    <td>{{betting.AwayScore}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="bettings-tabs">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: vm.isActiveStage('GroupStage')}"><a href="" ng-click="vm.showStage('GroupStage')">Groepsronde</a></li>
            <li ng-class="{ active: vm.isActiveStage('EighthFinals')}"><a href="" ng-click="vm.showStage('EighthFinals')">8ste finales</a></li>
            <li ng-class="{ active: vm.isActiveStage('QuarterFinals')}"><a href="" ng-click="vm.showStage('QuarterFinals')">Kwartfinales</a></li>
            <li ng-class="{ active: vm.isActiveStage('SemiFinals')}"><a href="" ng-click="vm.showStage('SemiFinals')">Halve finales</a></li>
            <li ng-class="{ active: vm.isActiveStage('Finals')}"><a href="" ng-click="vm.showStage('Finals')">Finales</a></li>
        </ul>
    </div>

    <div class="bettings-main">
        <form class="form-inline games-list">
            <div class="save-container">
                <button type="button" class="btn btn-default" ng-click="vm.save()">Opslaan</button>
            </div>

            <div class="container-fluid">
                <div class="row text-center" ng-show="vm.isActiveStage('GroupStage')">
                    De topscorer wordt
                    <input class="topscorer-input form-control form-inline" ng-model="vm.topscorer.TopScorerName" ng-disabled="vm.topscorer.isReadOnly" />
                    <button type="button"
                            class="btn btn-info other-bettings-icon glyphicon glyphicon-th-list"
                            title="De andere topscorer-pronostieken bekijken"
                            ng-click="vm.showAllTopscorers()"
                            ng-show="vm.topscorer.isReadOnly"
                            data-toggle="modal"
                            data-target="#detailsModal"></button>
                </div>

                <div class="loading-panel" ng-show="vm.isLoading"></div>

                <div class="row">
                    <div ng-repeat="gameBettingGroup in vm.gameBettingGroups | filter:vm.stageFilter.stage:true" class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h4>{{gameBettingGroup.date | date}}</h4>
                        <div ng-repeat="gameBetting in gameBettingGroup.gameBettings">
                            <div class="f48">
                                <span>{{gameBetting.date.getUTCHours() | numberFixedLen:2}}:{{gameBetting.date.getUTCMinutes() | numberFixedLen:2}}</span>
                                <span class="betting-flag flag {{gameBetting.homeIso}}" title="{{gameBetting.homeDescription}}"></span>
                                <input ng-model="gameBetting.homeBetting" ng-disabled="gameBetting.isReadOnly" class="betting-input form-control form-inline" />
                                <input ng-model="gameBetting.awayBetting" ng-disabled="gameBetting.isReadOnly" class="betting-input form-control form-inline" />
                                <span class="betting-flag flag {{gameBetting.awayIso}}" title="{{gameBetting.awayDescription}}"></span>
                                <button type="button"
                                        class="btn btn-info other-bettings-icon glyphicon glyphicon-th-list"
                                        title="De andere pronostieken bekijken"
                                        ng-click="vm.showOtherBettings(gameBetting.matchId)"
                                        ng-show="gameBetting.isReadOnly"
                                        data-toggle="modal"
                                        data-target="#detailsModal"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>