@{
    Layout = null;
}

<div class="navbar-collapse collapse" ng-controller="nav as vm">
    <ul class="nav navbar-nav">
        <li><a href="/#/tournaments">Toernooien</a></li>
        <li ng-if="vm.hasTournament"><a href="/#/">Stand</a></li>
        <li ng-if="vm.hasTournament"><a href="/#/overview">Overzicht</a></li>
        <li ng-if="vm.hasTournament"><a href="/#/statistics">Statistieken</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li ng-if="vm.hasTournament"><a href="/#/games">Mijn pronostieken</a></li>
        }

        @*Ugly and wrong, but IsInRole doesn't work and no time*@
        @if (User.Identity.Name == "petermorlion")
        {
            <li><a href="/#/admin">Admin gedeelte</a></li>
        }
    </ul>

    @Html.Partial("_LoginPartial")
</div>