@{
    Layout = null;
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        
        <li><a href="/#/tournaments/{{vm.tournamentId}}">Stand</a></li>
        <li><a href="/#/tournaments/{{vm.tournamentId}}/statistics">Statistieken</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="/#/tournaments/{{vm.tournamentId}}/games">Mijn pronostieken</a></li>
        }
    </ul>
</div>