<section id="dashboard-view" class="mainbar" data-ng-controller="overview as vm">
    <h1>{{vm.title}}</h1>
    <p>
        Een overzicht van alle pronostieken. Later komt hier nog een kleuraanduiding naargelang de score dat een
        pronostiek oplevert.
    </p>
    <p>
        Legende:
        <span class="two-points example-points">Exacte score correct = 2 punten</span>
        <span class="one-point example-points">Correct winnend team of gelijkspel = 1 punt</span>
    </p>

    <div class="loading-panel" ng-show="vm.isLoading">
    </div>

    <table class="table table-striped table-hover" ng-hide="vm.isLoading">
        <thead>
            <tr>
                <th>Match</th>
                <th>Score</th>
                <th ng-repeat="user in vm.overview.UserNames">{{user}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="match in vm.overview.OverviewMatches">
                <td class="f24">
                    <span class="betting-flag flag {{match.HomeTeamIsoCode}}" title="{{match.HomeTeam}}"></span>
                    -
                    <span class="betting-flag flag {{match.AwayTeamIsoCode}}" title="{{match.AwayTeam}}"></span>
                </td>
                <td>{{match.HomeScore}} - {{match.AwayScore}}</td>
                <td ng-repeat="betting in match.OverviewBettings" class="{{betting.PointsClass}}">{{betting.HomeScore}} - {{betting.AwayScore}}</td> 
            </tr>
        </tbody>
    </table> 

</section>