@model KotProno2.Models.ViewModels.ResetPasswordViewModel

@using KotProno2.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Paswoord opnieuw ingesteld";
}

<h2>@ViewBag.Title.</h2>

@if (ViewBag.StatusMessage != "")
{
    <p class="alert alert-success">
        Je paswoord werd opnieuw ingesteld.
        Je kan nu inloggen
    </p>
}